@page {
    size: 160mm 240mm;
    margin-top: 20mm;
    margin-bottom: 25mm;
    margin-left: 10mm;
    margin-right: 10mm;

    @bottom-center {
        content: counter(page);
        font-family: "Alegreya";
        font-size: 12pt;
    }
}

@page:first { 
    @bottom-center {
      content: '';
    }
}

@page full {
    @bottom-center {
        content: none;
    }

    margin: 0;
    counter-reset: page;
}

@page clean {
    @bottom-center {
        content: counter(page);
    }
}

.fullpage img {
    width: 160mm;
    height: 240mm;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: none;
    page: full;
    position: absolute;
}

.blank {
    height: 240mm;
    width: 160mm;
    page: full;
}

.author {
    text-align: center;
    text-indent: 0;
}

body {
    font-family: "Alegreya"
}

body:lang(hi) {
    font-family: 'Noto Sans Devanagari', serif;
}

h1.title {
    font-size: 2.6em;
    font-weight: bold;
}

h1::before, h2::before {
    content: '';
    page: clean;
}

h1 {
    font-size: 2.6em;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

p {
    hyphens: auto;
    margin: 0;
    text-align: justify;
    text-indent: 1em;
}

br::after {
    content: '';
    display: inline-block;
    width: 0.78em;
}
